.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem 0 1.25rem 0;
  border-top: 1.25px solid #3d2102;
  justify-content: center;
  align-items: center;
}

.footer a, .footer p {
  margin: 14px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer p {
  text-align: center;
  color: #717171;
}

/* .footer img {

} */

.footer__pageLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}